@import "tailwindcss";

.color-primary{
    @apply text-[#F1BA88];
}

.color-secondary{
    @apply text-[#DDEB9D];
}

.color-tertiary{
    @apply text-[#FAF6E9];
}

.color-quaternary{
    @apply text-[#FAF6E9];
}

.bg-orange{
    @apply bg-[#d4d4d4];
}

.bg-secondary{
    @apply bg-[#DDEB9D];
}

.bg-tertiary{
    @apply bg-[#FAF6E9];
}

.bg-quaternary{
    @apply bg-[#FAF6E9];
}

.font-patrick-hand-regular {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-short-stack-regular {
    font-family: "Short Stack", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
