@import "tailwindcss";


.text-offwhite{
    @apply text-[#FAF6E9];
}


.bg-offwhite{
    @apply bg-[#FAF6E9];
}

.bg-dark-offwhite{
    @apply bg-[#EAE4D5];
}

.text-dark-offwhite{
    @apply bg-[#EAE4D5];
}

.font-patrick-hand-regular {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-short-stack-regular {
    font-family: "Short Stack", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
